.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid black; */
    width: 900px;
    margin-left: 450px;
}

.tshirt_firstDiv {
    display: flex;
    /* border: 1px solid black; */
    width: 900px;
    margin-left: 450px;
    justify-content: space-between;
    margin-top: 40px;
}

.text {
    font-size: 30px;
    margin-top: 12px;
}

.filter {
    width: 250px;
    padding: 30px;
    border: 1px solid black;
    /* border-radius: 0px; */
    background-color: white;
}